.git
.gitignore
.cursor
.DS_Store
README.md
node_modules/
src/
functions/
services/
types.ts
vite.config.ts
index.html
index.css
tsconfig.json
apphosting.yaml
firebase.json
firestore.rules
metadata.json
terminals/
*.log
*.tsx
components/

# Forcer l'inclusion de dist
!dist/
!dist/**
